version: "3.9"

services:
  backend:
    build: ./backend
    container_name: rag-backend
    ports:
      - "8000:8000"
    env_file:
      - backend/.env
    networks:
      - rag-net
    volumes:
      - ./RAG_documents:/app/RAG_documents

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8000/api/ask
    container_name: rag-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - rag-net

networks:
  rag-net:
    driver: bridge
